*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(109, 238, 255);
}

footer,
header{
    text-align: center;
}
.imagem{
    height:100px;
    width: 200px;
    margin-bottom: -16px;
}

.text{
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    align-items: center;
}

p{
    font-size: 14px;
}